<!DOCTYPE html>
<html>
<head>
    <!-- <html lang="en"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Eventplaner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="loading.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuex@2.0.0"></script>

    <script src="https://unpkg.com/marked@0.3.6"></script>
    <script src="https://unpkg.com/lodash@4.16.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="js/ajax.js" asp-append-version="true"></script>
    <script src="js/register_vue.js"></script>
    <script src="js/greeting_vue.js"></script>
    <script src="js/order-view_vue.js"></script>
    <script src="js/order-change_vue.js"></script>
    <script src="js/resend-link_vue.js"></script>

</head>
<body>

    <!-- Page content -->
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
            <div id="editor">
                <div class="container boxItem" :class="{loader: getLoadingIndicator}">
                    <div class="row">
                        <div class="col-sm">
                            <div class="align-self-center">
                                <template v-if="!barCodeGiven">
                                    <h1>Register for event !</h1>
                                </template>
                                <template v-else>
                                    <h1>Welcome</h1>
                                </template>
                                <template v-if="!barCodeGiven">
                                    <br />
                                    <register-user-component v-on:setbarcode="setBarcode">
                                    </register-user-component>
                                    <br />
                                </template>
                                <template v-else>
                                    <greeting-user-component :user="currentUser">
                                    </greeting-user-component>
                                    <div id="sections">
                                        <div class="ball1"></div>
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#home">Current order</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#menu1">Start/change order</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#menu2">Infos</a>
                                            </li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane container active" id="home">
                                                <div id="currentOrder">
                                                    <order-view-component :user="currentUser" :products="products">
                                                    </order-view-component>
                                                </div>
                                            </div>
                                            <div class="tab-pane container fade" id="menu1">
                                                <div id="orderChange">
                                                    <div>
                                                        <order-change-component v-on:updatedorder="reloadOrder" :user="currentUser" :products="products" :barcode="barcode">
                                                        </order-change-component>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane container fade" id="menu2">
                                                <h3>Here you could find infos about the event</h3>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- End Page Content -->
    </div>

    <script>
        var store = new Vuex.Store({
            state: {
                isLoading: false,
                barcode: ''
            },
            mutations: {
                setLoading(state, value)
                {
                    state.isLoading = value;
                },
                setBarcode(state, value)
                {
                    state.barcode = value;
                }
            },
            actions: {
                resentLinkToUser({ commit }, email)
                {

                }
            },
            getters: {
                getLoading: function (state, getters)
                {
                    return state.isLoading;
                },
                getBarcode: function (state, getters)
                {
                    return state.barcode;
                }
            }
        });

        new Vue({
            el: "#editor",
            data: {
                currentUser: {
                    id: '',
                    firstname: '',
                    lastname: '',
                    addresse: '',
                    email: '',
                },
                products: {},
                uriBarcode: '/User/byBarcode?barcode=',
                uriUserCreate: '/User/createNew',
                uriProducts: '/Product/list',
                barCodeGiven: false,
                barcode: '',
                isLoading: false
            },
            computed: {
                allEntered: function ()
                {
                    if (this.currentUser.firstname != '' && this.currentUser.lastname != '' && this.currentUser.addresse != '' && this.currentUser.email != '')
                    {
                        return true;
                    }
                    else
                    {
                        return false;
                    }
                },
                getLoadingIndicator: function ()
                {
                    return store.getters.getLoading;
                }
            },
            mounted: function ()
            {
                // fetch data
                this.preLoadUser();
                this.preLoadProducts();
            },
            methods: {
                reloadOrder: function ()
                {
                    // fetch data
                    this.preLoadUser();
                    this.preLoadProducts();
                },
                setBarcode: function (element, test)
                {
                    this.barCodeGiven = true;
                    this.barcode = test;
                    this.getUserFromApi(this.barcode);
                    location.href = ajaxUtilities.URL_add_parameter(location.href, 'barcode', this.barcode);
                    store.commit('setBarcode', test);
                },
                createNewUser: function ()
                {
                    var that = this;
                    var promise = ajaxUtilities.PostJson(that.uriUserCreate, that.currentUser);
                    store.commit('setLoading', true);
                    $.when(promise).done(function (result)
                    {
                        that.barCodeGiven = true;
                        that.getUserFromApi(result);
                    }).fail(function (result)
                    {
                    }).always(function ()
                    {
                        store.commit('setLoading', false);
                    });
                },
                preLoadUser: function ()
                {
                    var that = this;
                    this.barcode = ajaxUtilities.getUrlParameter('barcode');
                    if (this.barcode != null && this.barcode !== '')
                    {
                        that.getUserFromApi(this.barcode);
                        store.commit('setBarcode', this.barcode);
                    }
                },
                preLoadProducts: function ()
                {
                    var that = this;
                    store.commit('setLoading', true);
                    var promise = ajaxUtilities.GetJson(that.uriProducts);
                    $.when(promise).done(function (result)
                    {
                        that.products = result;
                    }).fail(function ()
                    {
                        debugger;
                    }).always(function ()
                    {
                        store.commit('setLoading', false);

                    });
                },
                getUserFromApi: function (barcode)
                {
                    var that = this;
                    that.barCodeGiven = true;
                    store.commit('setLoading', true);


                    var promise = ajaxUtilities.GetJson(that.uriBarcode + barcode);
                    $.when(promise).done(function (result)
                    {
                        that.currentUser = result;
                    }).fail(function ()
                    {
                        debugger;
                    }).always(function ()
                    {
                        store.commit('setLoading', false);

                    });
                }
            }
        });

    </script>

</body>
</html>
