body
{
    background-image: url("img/wallpaper.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

.boxItem
{
    margin-top: 2%;
    ;
    background-color: white;
    min-height: 400px;
}

body
{
    padding: 10px;
}

#exTab1 .tab-content
{
    color: white;
    padding: 5px 15px;
}

#sections > div > ul > li
{
    border: 1px solid;
}

    #sections > div > ul > li.active
    {
        background-color: lightblue;
    }

/* The alert message box */
.alert
{
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.orderamount
{
    width: 45px;
}

/* The close button */
.closebtn
{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
    .closebtn:hover
    {
        color: black;
    }

/****VALIDATION*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* Styles */
*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Open Sans";
    font-size: 14px;
}

.nav-tabs .nav-item.active > a
{
    color: red !important;
}

form
{
    padding: 20px;
    background: #2c3e50;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

    form label,
    form input,
    form button
    {
        border: 0;
        margin-bottom: 3px;
        display: block;
        width: 100%;
    }

    form input
    {
        height: 25px;
        line-height: 25px;
        background: #fff;
        color: #000;
        padding: 0 6px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    form button
    {
        height: 30px;
        line-height: 30px;
        background: #e67e22;
        color: #fff;
        margin-top: 10px;
        cursor: pointer;
    }

    form .error
    {
        color: #ff0000;
    }
